  <link rel="stylesheet" href="/css/home.css">
    <div class = "h1 m-3 text-center text-light" style="
        text-shadow: 2px 2px 8px #FF0000;">Project Details</div>


    <div class ="container rounded-5">

        <form action ="/create_project" method = "post">
        <div class = "row">
            <div class="col-12 fs-3 my-1 fw-bold">
                Title
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type = "text" class="form-control" name="title" required>
            </div>
        </div>

        <div class = "row">
            <div class="col-12 fs-3 my-1 fw-bold">
                Author
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <input type = "text" class="form-control" name="author" required>
            </div>
        </div>


        <div class = "row">
            <div class="col-12 fs-3 my-1 fw-bold">
                Description
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <input type = "text" class="form-control" name="desc" required>
            </div>
        </div>


        
        <div class = "row">
            <div class="col-2">
                <input type = "submit" class="btn btn-primary my-5" value = "Create Project">
             
            </div>
        </div>

        </form>

        

    </div>

    <div class = "container">
        

    </div>



    <script src = "/js/home.js"></script>
   









