<link rel="stylesheet" href = "/css/issue.css">
<div class="h2 text-center mt-4" style=" text-shadow: 2px 2px 8px yellow;">Create Issue</div>

<a href = '/'><input type = "button" class="btn btn-success mx-5" value = "<-- Go to Home"></a>

<div class="container my-5 bg-light rounded-4">

   
  
    <form id = "issue_form">
    <div class="row">
     
        <div col="12">
            <div class="p my-2">Description</div>
            <input type = "text" name = "desc" class="form-control" id = "desc">
        </div> 

    </div>

    <div class="row">
     
        <div col="12">
            <div class="p my-2">Severity</div>
            <select class="form-select" name="severity" aria-label="Default select example" id="severity">
                <option selected>select the severity</option>
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
              </select>
        </div> 

    </div>

    <div class="row">
     
        <div col="12">
            <div class="p my-2">Assigned To</div>
            <input type = "text" name = "assign" class="form-control" id = "assign">
        </div> 

    </div>

    <div class="row">
         <div class="col-2 my-4"> <input type = "submit" value = "Add" class = "btn btn-primary"></div>
    </div>
    </form>


</div>

<script src="/js/issue.js"></script>


